[submodule "cinema"]
	path = cinema
	url = https://github.com/mattoznav/templates-cinema.git
[submodule "wardrobe"]
	path = wardrobe
	url = https://github.com/mattoznav/templates-wardrobe.git
[submodule "finance"]
	path = finance
	url = https://github.com/mattoznav/templates-finance.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/mattoznav/templates-wiki.git
